@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Josefin+Sans&family=Roboto&family=Roboto+Slab&family=Source+Code+Pro:wght@400;500;600;700&display=swap');

:root {
    --nav-bar-width: 15%;
    --closed-nav-bar-width: 2.5%;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --white-minus-one: #f9f9f9;
    --white-minus-two: #f1f1f1;
    --white-minus-three: #e5e4e4;
    --black: #000000;
    --black-rgb: 0, 0, 0;
    --black-plus-one: #1f2124;
    --black-plus-two: #292b2f;
    --black-plus-three: #393c43;
    --gray: #3f3f3f;
    --blue-plus-two: #ddeefb;
    --blue-plus-one: #8185c0;

    --blue: #545fa8;
    --blue-minus-one: #3e4451;

    --conditional: #1289A7;
    --reset: #B53471;
    --set: #A3CB38;
}

.light-mode {
    --color-0: var(--white-minus-two);
    --color-1: var(--white-minus-one);
    --color-2: var(--white);
    --text-0: var(--black-plus-one);
    --text-0-selected: var(--white-minus-two);
    --text-1: var(--black-plus-two);
    --feature: var(--blue);
    --feature-1: var(--blue-plus-one);
    --feature-2: var(--blue-plus-two);
    --item-divider: rgba(var(--black-rgb), 0.16);
    --blur: var(--white-rgb);
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: rgba(62, 68, 81, 0.2);
    --scrollbar-thumb-hover: #E5E5E5;
    --item-active: var(--feature-1);
}

.dark-mode {
    --text-0: var(--white-minus-one);
    --text-0-selected: rgba(79,84,92,0.16);
    --text-1: var(--white-minus-three);
    --color-0: var(--black-plus-one);
    --color-1: var(--black-plus-two);
    --color-2: var(--black-plus-three);
    --feature: var(--blue);
    --feature-1: var(--blue-minus-one);
    --feature-2: var(--blue-minus-one);
    --item-divider: rgba(var(--white-rgb), 0.16);
    --blur: var(--black-rgb);
    --scrollbar-track: #2e3338;
    --scrollbar-thumb: #202225;
    --scrollbar-thumb-hover: rgba(0, 0, 0, 0.1);
    --item-active: #8c8aff1a;
}

body {
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.search.box {
    display: flex;
    background: var(--color-1);
    padding: 1em;
    margin: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 1px solid var(--item-divider);
}

body {
    margin: 0;
    background-color: var(--color-0);
    color: var(--text-0);
    display: flex;
    flex-direction: row;
    position: sticky;
    position: -webkit-sticky;
    overflow-y: hidden;
  }
  
  nav.sidebar {
    width: var(--nav-bar-width);
    padding: 1em;
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
    position: -webkit-sticky; 
    z-index: 1;
    height: calc(100vh - 2em);
    font-family: "Josefin Sans";
    font-weight: bold;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  
  nav, .flags, .card .details .title, .center-block .small-text {
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  
  
  
  nav.sidebar .item {
    cursor: pointer;
    margin-bottom: 0.5em; 
    display: flex;
    flex-basis: content;
    align-items: center;
    text-align: center;
    transition: backdrop-filter 0.5s linear;
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--text-1);
  }
  
  nav.sidebar .active.item {
    background-color: var(--item-active);
    color: var(--white);
  }
  
  nav.sidebar .item:hover {
    backdrop-filter: brightness(0.9);
  }
  
  nav.sidebar .item.header {
    text-align: center;
    align-content: center;
    flex-basis: content;
    height: 3em;
    padding: 0.5em;
    transition: 1s linear padding;
  }
  
  nav.sidebar .item.header img {
    height: 3em;
    margin: auto;
  }
  
  nav.sidebar a.item {
    text-decoration: none;
    color: var(--text-0);
  }
  
  nav.sidebar .item .block {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  nav.sidebar .item .block .icon {
    width: 40%;
    display: flex;
    align-items: center;
    margin: auto;
    transition: 1s ease width;
    font-weight: normal;
    font-variant: normal;
  }
  
  nav.sidebar .end.items {
    margin-top: auto;
    flex-grow: 1;
  }
  
  .item .block .icon i {
    margin: auto;
    font-size: 125%;
    padding: 0.2em;
    border-radius: 0.4em;
    background-color: var(--color-1);
    border: 1px solid var(--item-divider);
    color: var(--text-0);
    transition: color, background-color 0.5s linear;
  }
  
  
  .item.active .block .icon i {
    background-color: var(--feature);
    color: var(--white-minus-one);
  }
  
  
  nav.sidebar .item .block span {
    display: block;
    width: auto;
    flex-grow: 1;
    flex-basis: auto;
    text-align: left;
  }
  
  nav.sidebar.closed .item .block span {
    display: none;
  }
  
  
  
  .dark-mode .square {
    border: none !important;
  }
  
  
  .container-inner {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    flex-basis: auto;
    margin: 2em;
    margin-top: 1em;
    flex-grow: 1;
  }
  
  .container-inner > .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  .container {
    position: sticky;
    position: -webkit-sticky; 
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
    background: var(--color-1);
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    border: 2px solid var(--item-divider); 
    border-right: 0;
    /* border-top: 0; */
    /* border-bottom: 0; */
    overflow-y: scroll;
    height: calc(100vh - 6px);
    -webkit-box-shadow: -4px 3px 25px 0px rgb(0, 0, 0, 6%);
    -moz-box-shadow: -4px 3px 25px 0px rgb(0, 0, 0, 6%);
    box-shadow: -4px 3px 25px 0px rgb(0, 0, 0, 6%)
  }
  
  nav.header {
    top: 0;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky; 
    border-bottom: 1px solid var(--item-divider);
    padding: 1.25em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background: var(--color-1);
    font-family: "Josefin Sans";
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  nav.header .search {
    display: flex;
    flex-grow: 1;
    width: auto;
    background-color: var(--color-0);
    border: 1px solid var(--item-divider);
    border-radius: 0.5em;
    align-items: center;
    transition: border 0.25s linear;
    transition: background-color 0.25s linear;
  }
  
  nav.header .search .icon {
    display: block;
    font-size: 110%;
    margin: 0.5em;
    transition: color 0.25s linear;
  }
  
  nav.header .search input {
    width: auto;
    flex-grow: 1;
    border: none;
    outline: none;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background: transparent;
    color: var(--text-0);
  }
  
  
  nav.header .search:focus-within {
    border-color: var(--feature);
  }
  
  nav.header .search:focus-within .icon {
    color: var(--feature);
  }
  
  nav.header .search .action {
    text-transform: lowercase;
    font-variant: small-caps;
    text-decoration: none;
    color: var(--text-0);
    margin: 0em 1em;
    transition: color linear 0.25s;
  }
  
  nav.header .search .action:hover {
    color: var(--feature);
  }
  
  
  nav.header .search input::placeholder {
    font-family: "Josefin Sans";
    font-size: 110%;
  }
  
  nav.header .item .block .icon i {
    background-color: var(--color-0);
    font-size: 135%;
    padding: 0.3em;
  }
  
  nav.header .item.hidden {
    flex-grow: 0.001;
  }
  
  nav.header > .item {
    margin-left: 1em;
  }
  
  nav.header .item .icon {
    display: flex;
  }
  
  nav.header .item ~ .item {
    margin-left: 0;
  }
  nav.header .item:not(:last-child){
    margin-right: 0.5em;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0.5em;
    padding-bottom: 0.2em;
    border-radius: 1em;
    border: 2px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px 4px 25px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 10px 4px 25px 0px rgba(0,0,0,0.06);
    box-shadow: 10px 4px 25px 0px rgba(0,0,0,0.06);
    background-color: var(--color-2);
  }



.meta {
    display: flex;
    flex-direction: row;
}

.cycles {
    display: flex;
    margin: 0.5em;
    width: auto;
    align-items: center;
}

.cycles .icon {
    margin-right: 0.5em;
    color: var(--feature);
}

.cycles .text {
    font-family: "Open Sans";
}

.flags {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: auto;
}  

.flags > .icon {
    color: var(--feature);
}

.flags > .flag {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    display: inline;
    font-size: 16pt;
    color: var(--item-divider);
    margin: 0.2em;
    cursor: help;
}

.cycles .cycle-number {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 14pt;
}

.flags > .flag::before {
    content: "\1427";
    margin-right: 0.2em;
    color: var(--item-divider);
}

.flag.reset {
    color: var(--reset);
}

.flag.set {
    color: var(--set);
}

.flag.conditional {
    color: var(--conditional);
}

.instruction {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
}

.instruction .code {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.instruction .opcode {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    font-size: 24pt;
    display: block;
}

.opcode.smaller {
  font-size: 22pt;
}

.instruction .small-text {
    display: block;
    font-family: "Open Sans";
    font-variant: small-caps;
}

.instruction .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5em;
    width: auto;
    font-family: "Open Sans";
    font-size: 11pt;
}

.instruction .details .title {
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    font-size: 18pt;
    display: block;
}

.title .token {
    display: inline;
    cursor: pointer;
}

.token.mnemonic {
    font-weight: 700;
}

.token.register {
    font-weight: 600;
}

.title .token {
    border-bottom: 4px solid var(--feature);
    border-bottom-style: dotted;
}

.token.reference {
  border-bottom: none !important;
}

.token.constant {
  color: #6c5ce7;
  border-bottom: none !important;
  font-weight: 600;
}

.token.constant::before {
  content: "$";
}

.token.operator {
  border-bottom: none !important;
  color: #0984e3;
}

.token.condition {
  color: #e056fd;
  border-color: #e056fd;
}

.token.mnemonic {
  border-bottom-color: sienna !important;
}

.popup .token {
  border-bottom: none !important;
}

.popup {
  position: absolute;
  color: var(--text-0) !important;
  z-index: 100;
  padding: 0.25em;
  border: 1px solid var(--item-divider);
  border-radius: 0.25em;
  background-color: var(--color-2);
  font-family: "Open Sans";
  font-weight: normal;
  font-size: initial;
  width: 70%;
  -webkit-box-shadow: -4px 3px 25px 0px rgb(0, 0, 0, 6%);
    -moz-box-shadow: -4px 3px 25px 0px rgb(0, 0, 0, 6%);
    box-shadow: -4px 3px 25px 0px rgb(0, 0, 0, 6%)
  
}

@media screen and (max-width: 850px) { 
    .grid {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (max-width: 600px) { 
    .grid {
        grid-template-columns: 1fr !important;
    }
}